/* Copyright 2015-16 Olaf Frohn https://github.com/ofrohn, see LICENSE */

body {
    background: #000030;
}

#celestial-map {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

@media print {
    #celestial-zoomin,
    #celestial-zoomout,
    #celestial-form {
        display: none;
    }
}