/* Copyright 2015-16 Olaf Frohn https://github.com/ofrohn, see LICENSE */

body {
    background: #000030;
    font-family: Garamond, serif;
    color: #ffffff;
    text-align: center;
    font-variant: small-caps;
    font-stretch: expanded;
}

#celestial-map {
    width: 75%;
    height: auto;
    margin: 50px auto;
    padding: 0;
    position: relative;
}

#celestial-container {
    width: 95%;
    margin: auto;
    border: 3px solid #ffffff;
}

@media print {
    #celestial-zoomin,
    #celestial-zoomout,
    #celestial-form {
        display: none;
    }
}